@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

:root {
    --black: #1d1d1d;
    --white: #fff;
    --gray: #515151;
    --orange: #ff9c71;
    --purple: #64517c;
    --indigo: #2e3a5c;
    --rose: #993c60;
    --blue: #4682b4;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--black);
    color: var(--white);
    font-family: 'Poppins', sans-serif;
}



